body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    margin-top: 10vh;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .deleteBtn {
    background-color: #ff0000;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .task-title {
    background: none;
    border:none;
    color: black;
    width: 100%;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
    cursor: pointer;
    gap: 10px;
  }
  
  p {
    width: 100%;
  }
  p.completed  {
    text-decoration: line-through;
  }

  @media only screen and (min-width: 900px) {
    .container {
        width: 50%;
      }
  }

  @media only screen and (min-width: 1200px) {
    .container {
        width: 40%;
      }
  }

  
  